#sessionSidebar {
  -fx-background-color: -color-bg-secondary;
  -fx-border-width: 1;
  -fx-border-color: -color-border;
  -fx-background-radius: 8;
  -fx-border-radius: 8;
}

#sessionList {
  -fx-background-color: transparent;
  -fx-padding: 12;
}

#sessionList .viewport {
  -fx-background-color: transparent;
}

#sessionInfoContainer {
  -fx-padding: 0 10 0 0;
}

#buttonContainer {
  -fx-padding: 12;
  -fx-spacing: 8;
}

.sidebarSessionEntry {
  -fx-cursor: hand;
  -fx-padding: 8 8 8 14;
  -fx-background-color: -color-bg-secondary;
  -fx-background-radius: 4;
  transition: -fx-background-color 0.1s ease;
}

.sidebarSessionEntry:focused {
  -fx-background-color: -color-bg-secondary;
  -fx-background-insets: 0;
  -fx-border-width: 0;
}

.sidebarSessionEntry:hover {
  -fx-background-color: -color-hover;
}

.sidebarSessionEntry.selected {
  -fx-background-color: -color-selected;
}

.sidebarSessionEntry.selected:focused {
  -fx-background-color: -color-selected;
}

.sidebarSessionEntry.selected Label {
  -fx-font-weight: bold;
}
